html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,big,cite,code,del,em,font,img,ins,small,strong,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{margin:0;padding:0}
ol,ul{list-style:none}
:focus{outline:0}
a img{border:0}
img{vertical-align:middle}
table{empty-cells:show}
body{font:12px/150% Arial,Verdana,"\5b8b\4f53";color:#333;background:#f2f2f2;_background-image:url(about:blank);_background-attachment:fixed}
h1{font:20px "microsoft yahei","\5b8b\4f53"}
h2,h3{font-size:14px}
h4,h5,h6{font-size:12px}
a{color:#666;text-decoration:none}
a:hover{color:#ff6000;text-decoration:underline}
/*版心*/
.content{width: 990px;margin: 0 auto;}
.root8 .content{width:1210px;/*height:1000px;background:orange;*//*margin:0 auto*/}
/*.content1{margin-bottom: 10px;}*/
.lh{overflow:hidden;zoom:1}
.lh li,.lh dl,.lh .item{float:left}
.ld{position:relative;zoom:1}
.ld s,.ld b,.ld .block{position:absolute;overflow:hidden}
/*头部样式*/
#top,#top .content{height:30px;background:#fafafa}
#top{width:100%;border-bottom:1px solid #eee;line-height:30px}
#top li{height:30px;padding:0 11px 0 12px}
#top li s{top:9px;left:0;width:0;height:12px;border-left:1px solid #DDD;overflow:hidden}
#top b{transition:transform .2s ease-in 0s;}
/*左边样式*/
#top .top-left{overflow: visible;float: left;}
#top .top-left .fore1{padding-left: 16px;z-index: 1;position: relative;}
#top .top-left b{position:absolute;top:8px;left:0px;overflow:hidden;width: 13px;height: 13px;background: url(../img/commonImg/top-left.png) no-repeat 0 0 ;cursor:pointer;}
#top .top-left li:hover b{transform: rotate(720deg);}
/*右边样式*/
#top .top-right{overflow: visible;float: right;}
#top .top-right li{float: left;}
#top .top-right .fore2{position: relative;zoom: 1;}
#top .top-right .fore2 s{position: absolute;top: 9px;left: 0;width: 0;height: 12px;border-left: 1px soli #ddd;overflow: hidden;}
#top .top-right .fore2-1 {position: relative;zoom: 1;}
#top .top-right .fore2-1 s{position: absolute;top: 9px;left: 0;width: 0;height: 12px;border-left: 1px soli #ddd;overflow: hidden;}
/*logo*/
.logo{margin-top:10px;min-height: 80px;}
/* register * */
.register .register-top{padding-right: 10px;position: relative;overflow:visible;margin-bottom: -1px;border-bottom: 1px solid#ddd;height: 32px;line-height: 32px;}
.register .register-top .register-topleft{height: 33px;padding-left:277px ;overflow: hidden;zoom: 1;}
.register .register-top .register-topleft li{border: 1px solid #ddd;border-bottom: none;background: #fff;}
.register .register-top .register-topleft .register-topleft-li{border: 1px solid #dddd;margin-right:5px ;font-size: 14px;width: 100px;text-align: center;float: left;color: #e4393c;font-weight: bold;line-height: 32px;}
.register .register-top .register-topright{position: absolute;right: 20px;top:5px;float: right;line-height: 32px;}
.register .register-top .register-topright .register-topright-a{color:#005aa0;}
.register .register-bottom{padding: 30px 0 20px;border: solid #ddd;border-width:0 1px 1px ;overflow: hidden;zoom: 1;background: #fff;}
/*.register .register-bottom form{background: blue;}*/
.register .register-bottom form p{margin-top: 25px;color: #999999;margin-left: 160px;}
.register .register-bottom form p span{color:#ff0000;}
.register .register-bottom form p input{width: 269px;height: 36px;border: none;border: 1px solid #cccccc;}
.register .register-bottom form p strong{float: right;margin-right:226px;width: 269px;height: 36px;display: none;}
.register .register-bottom form p .show{background: #F4F4F4;border: 1px solid #ddd;line-height: 36px;}
.register .register-bottom form p .show1{background: #FFEBEB;border: 1px solid #FFBDBE;line-height: 36px;color: #ff0000;;}
.register .register-bottom form p #btn{margin-left:56px;background: #e33d3f;color: #fff;cursor: pointer;font-weight: bold;line-height: 36px;}
/*footer*/
.footer{text-align: center;margin-bottom: 33px;}
.footer .copyright{text-align: center;margin: 10px 0;color: #222;}
