/*header样式*/
#header,#header .content{height: 60px;padding: 15px 0;}
/*logo样式*/
#logo{float: left;width: 330px;position: relative;}
#logo a:link b{top:12px;left:168px;width: 100px;height: 38px;cursor: pointer;position: absolute;overflow: hidden;}
#logo a b{display: none;}


/*搜索*/
#search{width: 510px;padding-right: 126px;float: left;padding: 10px 86px 0 0 ;}
#search .search-i{width: 494px;z-index:11;height: 30px;margin-bottom: 3px;border: 3px solid #a28254;position: relative;}
#search #shelper{width: 418px;overflow: hidden;position: absolute;top: 32px;left:-3px;box-shadow: 0 0 5px #999;display: none;background: #fff;}
#search #shelper li{line-height: 20px;border-bottom: 1px dashed #ccc;}
#search #shelper li:hover{background: cornflowerblue;cursor: pointer;color: coral;}
#search #shelper.active{display: block;}
#search .form{height: 30px;overflow: hidden;}
#search input{margin: 0;padding: 0;border: 0;height: 30px;}
#search .button{width: 78px;background: #a28254;font-size: 14px;font-weight: 700;color: #fff;display: inline-block;text-align: center;cursor: pointer;}
#advancesearch{position: absolute;width: 26px;40px;margin: -28px 0 0 505px;line-height: 14px;}




/*mybuy*/
#mybuy{width: 106px;height: 30px;float: left;position: relative;z-index: 9;margin-top: 12px;}
#mybuy .mybuy-d{position: absolute;z-index: 1;height: 30px;padding: 0 24px 0 30px;border: 1px solid #efefef;background-position: -116px -24px;background-color:#F7F7F7 ;text-align: center;line-height: 27px;cursor: pointer;background-image: url(../img/commonImg/icon.png) ;background-repeat: no-repeat;}
#mybuy .mybuy-d b{position:absolute;top:12px;right: 8px;width: 0;height: 0;border-style: solid dashed dashed;border-width: 5px; overflow: hidden; border-color: #ccc transparent transparent;text-align: center;line-height: 27px;cursor: pointer;}
/*settleup*/
#settleup{float: right;position: relative;z-index: 9;width: 126px;height: 30px;margin-top: 12px;}
#settleup .settleup-d{position: absolute;z-index: 3;height: 30px;padding: 0 20px 0 30px;border: 1px solid #efefef;background-position: -115px -84px;background-color: #F7F7F7;cursor: pointer;text-align:center;background-image: url(../img/commonImg/icon.png) ;background-repeat: no-repeat;cursor: pointer;}
#settleup .settleup-d .shopping{position: absolute;top:-13px;left: 20px;background-image: url(../img/commonImg/icon.png);background-position: -133px -279px;padding-left: 6px;color:#fffff}
#settleup .settleup-d .shopping span{float: left;display: block;height: 20px;padding-right: 6px;background-image: url(../img/commonImg/icon.png);background-position: 100% -250px;color: #ffffff;}
#settleup .settleup-d b{position: absolute;top:9px;right: 4px;width: 0;height: 0;border-style: dashed dashed dashed solid; border-width: 5px;border-color: transparent transparent transparent #ccc;overflow: hidden;   }


/*nav导航*/
#nav{height: 40px;display:block;position: relative;margin-bottom: 16px;margin-top: 16px;z-index: 6;}
/*nav-left*/
#nav .nav-left{position: absolute;left: 0;top: 0;width: 210px;height: 40px;background: #a28254;float: left;}
#nav .nav-left .nav-left-tab{position: relative;zoom: 1;cursor: default;overflow: hidden;display: block;}
#nav .nav-left .nav-left-tab h2 a{padding-left: 20px;height: 40px;line-height: 40px;color: #FFFFFF;text-decoration: none;}
/*nav-left nav-menu*/
#nav .nav-left .nav-menu{background: #FAFAFA;border: solid #B89366;border-width: 0 2px 2px;position: absolute;top:40px;left:0;width:203px;height: 402px;padding:0px 3px 3px 0;overflow: visible;display: none;}
#nav .nav-left .nav-menu.active{display: block;}
#nav .nav-left .nav-menu .item{width: 200px;height: 32px;border-top: 1px solid #fff;background: #FAFAFA;}
#nav .nav-left .nav-menu .item.active{background: #FFF;}
#nav .nav-left .nav-menu .item span{width: 203px;position: absolute;display: block;z-index: 1;zoom: 1;}
#nav .nav-left .nav-menu .item span h3{width: 181px;height: 28px;padding-left: 18px;background-position: -128px 8px;font-weight: 400;line-height: 28px;color: #222222;}
#nav .nav-left .nav-menu .lookforward span h3{width: 181px;height: 31px;padding-left: 18px;background-position: -128px 8px;font-weight: 400;line-height: 28px;background: #FAFAFA;border-top:1px solid #fff;color: #ccc6c6;}
/*nav-left nav-content*/
#nav .nav-left .nav-content{position: absolute;left:200px;top:40px;width: 802px;background: #fff;}
#nav .nav-left .nav-content .content-item{min-height: 1200px;display:none;box-shadow: 5px 5px 3px #888;border: 1px solid #DFDFDF;}
#nav .nav-left .nav-content .content-item.active{display: block;}
#nav .nav-left .nav-content .content-item .item-mc{min-height: 53px;}
#nav .nav-left .nav-content .content-item dl{min-height: 33px;border-bottom: 1px solid #c9c9c9;}
#nav .nav-left .nav-content .content-item .dlnone{border-bottom: none;}
#nav .nav-left .nav-content .content-item dl dt{width: 75px;color:#e3702f;min-heigh:48px;text-align:right;line-height: 27px;cursor: hand;float: left;}
#nav .nav-left .nav-content .content-item dl dd{float: left;line-height: 16px;width: 724px;}
#nav .nav-left .nav-content .content-item dl dd a{text-align: center;height: 27px;padding: 0 5px 0 5px;border-left: 1px solid #cacaca;color:#565656;}
#nav .nav-left .nav-content .content-item dl dd a:hover{color:#e3702f;}
#nav .nav-left .nav-content .content-item dl .item-new{color:#ccc6c6;}
#nav .nav-left .nav-content .content-item dl .item-new:hover{color:#CCC6C6;}
/*nav-right*/
#nav .nav-right{width:1000px;height: 40px;background: #b79665;float: left;margin-left: 210px;position: absolute;left: 0px;top:0px}
#nav .nav-right li{float: left;width: 83px;height: 40px;text-align: center;cursor: pointer;}
#nav .nav-right li a{width: 85px;height: 40px;line-height: 40px;color: #fff;text-align: center;text-decoration: none;}


/*导航栏下的模块 breadcrumb*/
#breadcrumb{height: 20px;padding:0 0 4px 6px;margin-bottom: 10px;overflow: hidden;line-height: 20px;}
#breadcrumb strong{font-weight: 700px;font-size: 19px;height: 20px;font-weight: bolder;font-family: "微软雅黑";}
#breadcrumb span{padding-left: 10px;line-height: 20px;}
#breadcrumb a:hover{color:#b89366;}



/*主要内容main*/
#main{width:100%;overflow: hidden;}
/*主要内容左边*/
#main .mainLeft{width:208px;float: left;border:1px solid #DDDDDD;overflow: hidden;}
.mainLeft .mLtop{height: 29px;background: #f1f1f1;line-height: 29px;}
.mainLeft .mLtop h2{font-weight: 100;padding-left:10px;cursor: default;}
.mainLeft .mLbot{min-height: 1140px;}
.mainLeft .mLbot .mCont{border:1px solid #ddd;margin-bottom: 10px;}
.mainLeft .mLbot .mCont img{width: 209px;height: 180px;}
/*主要内容右边*/
#main .mainRight{margin-left:10px;width: 990px;min-height: 1616px;float: left;overflow: visible;}
/*产品简介product-intro*/
#product-intro{min-height: 466px;overflow: visible;position: relative;}
#product-intro .intro{overflow: hidden;}
.intro dt{width: 352px;float: left;position: absolute;left:0px;top:0px;}
.intro dt .small-box{width: 350px;height:350px;border:1px solid #ccc;position: relative;float: left;cursor: move;overflow: hidden;}
.intro dt .small-box img{width: 350px;height: 350px;}
.intro dt .small-box .tool{width: 100px;height: 100px;background-color: #ccc;opacity: 0.7;filter: alpha(opacity=70);position: absolute;left: 0;top:0;display: none;}
.intro dt .small-box .tool.active{display: block;}
.intro dt .big-box{width: 500px;height: 500px;border: 1px solid #ccc;overflow: hidden;float: left;position: relative;left:353px;top:-404px;display: none;z-index: 999;}
.intro dt .big-box.active{display: block;}
.intro dt .big-box img{width: 2000px;position: absolute;}
.intro .share{width: 300px;height: 30px;overflow: hidden;position: absolute;left:0px;top:377px;line-height: 30px;color: #666666;}

/*产品简介信息*/
.intro dd{width: 620px;min-height: 466px;float: right;}
.intro dd .p-name{padding-bottom: 10px;border-bottom: 1px dashed #ccc;}
.intro dd .p-name h1{font-size: 16px;line-height: 1.5em;}
.intro dd .summary{padding: 10px 0;}
.intro dd .summary li{clear: both;overflow: hidden;padding: 5px 0;}
.intro dd .summary .dt{float: left;width: 72px;height: 18px;text-align: right;}
.intro dd .summary .dd{float: left;width: 394px;}
.intro dd .summary .sum-price strong{color:#e4393d;font-size: 18px;}
.intro dd .summary .sum-price span{color: #E4393D;}
.intro dd .summary .sum-author{margin-top: 15px;}
.intro dd .choose{width:620px;float: left;margin-bottom: 20px;border-top:1px dashed #ccc}
.intro dd .choose .choose-amount{overflow: hidden;padding: 4px 0;}
.intro dd .choose li{overflow: hidden;}
.intro dd .choose .chse1{width: 72px;height: 18px;text-align: right;float: left;}
.intro dd .choose .chse2{float: left;}
.intro dd .choose .chse2 input{width: 20px;text-align: center;}
.intro dd .choose .chse2 .text{width: 30px;}
.intro dd .choose .choose-btn{padding: 8px 0 8px 10px;overflow: hidden;}
.intro dd .choose .choose-btn .btn{float: left;margin-top:8px;height: 38px;}
.intro dd .choose .choose-btn .btn a{line-height: 38px;color:#E4393C ;float: left;text-align: center;position: relative;width: 137px;}
.intro dd .choose .choose-btn .btn a b{background: url(../img/shopDetails/gwu.png) no-repeat;width: 100%;height: 100%;position: absolute;left:0px;top:0px;cursor: pointer;}
.intro dd .choose .choose-btn .attention{float: left;margin-top: 8px;line-height: 38px;width: 72px;height: 36px;border:1px solid #ccc;margin-left: 10px;background: #f3f3f3;color: #333333;}
.intro dd .choose .choose-btn .attention a{text-decoration: none;color: #333333;text-align: center;font-size: 15px;}
.intro dd .choose .choose-btn .attention a strong{font-weight: bolder;color:#d86365;font-size: 24px;}


/*产品详情product-details*/
#product-details{min-height: 996px;overflow: visible;}
#product-details .goods{height: 28px;}
#product-details .tab{width: 86px;height: 33px;overflow: hide;margin-top:-5px;border-top:2px solid #b9996b;text-align: center;line-height: 30px;cursor: default;border-left:1px solid #ddd;border-right: 1px solid #ddd;float: left;}
#product-details .tab h2{color: #B9996B;}
.tab1{width: 902px;height:28px;background: violet;float: left;background: #f7f7f7;border-top: 2px solid #999;border-bottom: 1px solid #ddd;}
#product-details .goodsContent{overflow: hidden;padding:14px 0px 0px 10px;border:1px solid #DDDDDD;border-top:none;margin-bottom: 10px;}
#product-details .goodsContent li{float: left;width: 252px;line-height: 33px;}
#product-details .content-intro{overflow: hidden;margin-bottom: 15px;}
.content-intro .contentTop h2{color:#b59766;padding:0px 0px 0px 11px;line-height: 22px;background: #F5EEE9;}
.content-intro .contentBot{padding:15px 0px 0px 25px;text-indent: 2em;}
#product-details .catalogue{overflow: hidden;border-bottom: 1px dashed #dddddd;}
.catalogue .catalTop h2{color:#b59766;padding:0px 0px 0px 11px;line-height: 22px;background: #F5EEE9;}
.catalogue .catalBot{padding:15px 0 0 25px;margin-bottom: 15px;}
.catalogue .catalBot li{line-height: 19px;}
#product-details .statement{overflow: hidden;text-indent: 2em;}
.statement li strong{color:#b99767;line-height: 30px;}


/*全部评价evaluation*/
#evaluation{min-height: 30px;margin-bottom: 30px;overflow: visible;}
#evaluation .evalTop{height: 28px;}
.evalTop .evatab{width: 86px;float: left;margin-top:-6px;border-top:2px solid #b9996b;border-left:1px solid #ddd;border-right: 1px solid #ddd;}
.evalTop .evatab h2{color:#b9996b;line-height: 35px;text-align: center;cursor: default;}
.evalTop .evatab1{width:902px;height:28px;background:#f7f7f7;float: left;border-top: 2px solid #999999;border-bottom: 1px solid #ddd;}
.evalBot{overflow: hidden;position: relative;margin-top:8px;padding:0 0 0 19px;}
.evalBot .evalLeft{float: left;}
.evalBot .evalLeft dt img{width: 50px;height: 50px;padding:8px;}
.evalBot .evalLeft dd{color:#9C9A9C;padding-top:4px;}
.evalBot .evalRight{float: right;padding:10px 15px 5px;border:1px solid #D6CEC1;}
.evalBot .tricon{overflow: hidden;position: absolute;left:106px;top:10px;}
.evalRight .start{width: 840px;border-bottom:1px solid #d6cec1;}
.evalRight .evalCont{margin-top:15px}
.evalRight .evalCont dl dt{float: left;color:#9C9A9C;width: 56px;text-align: right;}
.evalRight .evalCont dl dd{padding-left:10px}


/*最近浏览recentBrowse*/
#recentBrowse{height: 303px;border-top:2px solid #999999;border-bottom: 1px solid #dddddd;border-left:1px solid #ddd;border-right:1px solid #ddd;margin-bottom: 10px;margin-top:8px;}
/*浏览左边reB-Left*/
#recentBrowse .recB-left{width:208px;height: 303px;float: left;border-right: 1px solid #ddd;}
.recB-left .leftTop{height: 28px;line-height: 28px;}
.recB-left .leftTop h2{padding:0 8px;cursor: default;float: left;font: 14px/28px "微软雅黑";}
.recB-left .leftTop .more{float: right;padding:0 10px;}
.recB-left .leftTop .more a{color:#005ea7;}
.recB-left .leftBot{height:265px;text-align: center;margin-top:10px;}
.recB-left .leftBot .lBcont{overflow: hidden;border-bottom:1px dashed #DDD;padding-bottom: 2px;}
.recB-left .leftBot .lBcont .b-img{width: 50px;height: 50px;overflow: hidden;margin-right: 5px;float: left;}
.recB-left .leftBot .lBcont .b-img img{width: 50px;height: 50px;}
.recB-left .leftBot .lBcont .b-name{float: left;width: 120px;height: 36px;}
.recB-left .leftBot .lBcont .b-price{float: left;width: 120px;color:#e4393d;}

/*浏览右边reB-Right*/
#recentBrowse .recB-right{width:999px;height: 303px;float: left;}
.recB-right .rightTop{height: 28px;line-height: 28px;}
.recB-right .rightTop h2{padding: 0 8px;cursor: default;float: left;font: 14px/28px "微软雅黑";}
.recB-right .rightTop .change{float: right;padding: 0 10px;}
.recB-right .rightTop .change a{color:#666666;cursor: default;}
.recB-right .rightTop .change a:hover{color:#a28254;}
.recB-right .rightBot{overflow: hidden;height: 234px;margin-top:30px}
.recB-right .rightBot li{float: left;width: 140px;padding:0 0 0 47px;}
.recB-right .rightBot .rB-img{width: 90px;height: 152px;}
.recB-right .rightBot .rB-img img{width: 118px;height: 152px;}
.recB-right .rightBot .rB-name{text-align: center;}
.recB-right .rightBot .rB-price{color:#e8393d;text-align: center;}
